body{
  font-size: 20px;
  margin:0;
  text-align: center;
  overflow: hidden;
  background-color: black;
}

@media(min-width:319px){
  .container{
    font-size:6vw;
    width: 320px;
  }
  .block1{
   width:72px;
 }
 .blocks4_5{
   width: 144px;
 }
 .blocks6_7{
   width: calc(100% - 144px);
 }
}

@media(min-width:499px){
  .container{
    font-size: 4vw;
    width: 500px;
  }
  .block1{
   width:112px;
 }
 .blocks4_5{
   width: 225px;
 }
 .blocks6_7{
   width: calc(100% - 225px);
 }
}

@media(min-width:767px){
  .container{
    font-size: 3vw;
    width: 768px;
  }
  .block1{
   width:172.8px;
 }
 .blocks4_5{
   width: 345.6px;
 }
 .blocks6_7{
   width: calc(100% - 345.6px);
 }
}

@media(min-width:1079px){
  .container{
    font-size: 2vw;
    width:1080px;
  }

   .block1{
    width: 434px;
  }
  .header1{
    width: calc(100% - 434px);
  }
  .blocks4_5{
    width:864.5px;
  }
  .blocks6_7{
    width: calc(100% - 864.5px);
  }
}

*{
  margin:inherit;
  overflow: inherit;
}

p{
  padding:3%;
}

ul{
  display: flex;
  margin:auto;
}
li{

}

.container{
  height: 90%;
  width: 90%;
  min-width: 320px;
  background-color: black;
  position: fixed;
  top: 5%;
  left:5%;
}

/*         Top blocks         */
.TopOfPage{
  height: 20%;
  display: flex;
  flex-grow: 1;
}

.block1{
  height:100%;
  min-width: 72px;
  background-color: yellow;
}

.header1{
  height: 100%;
  background-color: orange;
  flex-grow:1;
}
/*----------------------------*/


.block3{
  width: 100%;
  height: 20%;
  background-color: green;
}

.blocks4_5_6_7{
  height: 60%;
  display: flex;
  width: 100%;
}

.blocks4_5{
  background-color: grey;
  min-width: 144px;
}

.block4{
  height: 66%;
  background-color: pink;
}

.block5{
  height: 34%;
  background-color: blue;
}

.blocks6_7{
  background-color: white;
  flex-grow: 1;
}

.block6{
  height: 34%;
  background-color: red;
  flex-grow: 1;
}

.block7{
  height: 66%;
  background-color: purple;
  flex-grow: 1;
}
